{% load static %}


<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'cinema/css/styles.css' %}">
    <script src="{% static 'cinema/js/vendor/modernizr-2.6.2.min.js' %}"></script>
    <link href="https://vjs.zencdn.net/7.10.2/video-js.css" rel="stylesheet"/>
    {% block style %}{% endblock %}
</head>
<body>
<header>
    <div class="container">
        <a class='main-title' href="{% url 'home' %}">Cinetopia</a>
        <nav>
            <ul>
                <li><a href="/">Главная</a></li>
                <li><a href="/about/">О нас</a></li>
                <li><a href="/contact/">Контакты</a></li>
                <li class="auth-links">
                    {% if user.is_authenticated %}
                        <span class="username">Привет, {{ user.username }}!</span>
                        <a href="/" class="logout-btn">Выйти</a>
                    {% else %}
                        <a href="/" class="login-btn">Войти</a>
                        <a href="/" class="register-btn">Регистрация</a>
                    {% endif %}
                </li>
            </ul>
        </nav>
    </div>
</header>
{% block main %}
    <main></main>
{% endblock %}
<script src="{% static 'cinema/js/vendor/jquery-1.10.2.min.js' %}"></script>
<script src="{% static 'cinema/js/min/plugins.min.js' %}"></script>
<script src="{% static 'cinema/js/min/main.min.js' %}"></script>

<script src="https://vjs.zencdn.net/7.10.2/video.min.js"></script>
<!-- Preloader -->
<script type="text/javascript">
    //<![CDATA[
    $(window).load(function () {
        $('#loader').fadeOut();
        $('#loader-wrapper').delay(350).fadeOut('slow');
        $('body').delay(350).css({'overflow-y': 'visible'});
    })
    //]]>
</script>
{% block scripts %} {% endblock %}
<footer>
    <div class="container">
        <p>&copy; 2025 Cinetopia. Все права защищены.</p>
    </div>
</footer>
</body>
</html>
